* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.main-visual:nth-child(1) {
  background-image: url(img/box1.jpg);
}

.main-visual:nth-child(2) {
  background-image: url(img/box2.jpg);
}

.main-visual:nth-child(3) {
  background-image: url(img/box3.jpg);
}

.main-visual:nth-child(4) {
  background-image: url(img/box4.jpg);
}