 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 header {
   width: 100%;
   text-align: center;
   padding: 20px 0;
 }

 .nav-list {
   text-align: center;
   padding: 15px 0;
   margin: 0 auto;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
 }

 li {
   padding: 0 20px;
   list-style-type: none;
   display: inline-block;
 }

 main {
   width: 800px;
   margin: 50px auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }

 .box {
  width: 200px;
  height: 200px;
 }

 .box:nth-child(1) {
  background-color: #e6ffe9;
 }

 .box:nth-child(2) {
  background-color: #cdffd3;
 }

 .box:nth-child(3) {
  background-color: #aeffbd;
 }

 .box:nth-child(4) {
  background-color: #93ffab;
 }

 .box:nth-child(5) {
  background-color: #f3ffd8;
 }

 .box:nth-child(6) {
  background-color: #edffbe;
 }

 .box:nth-child(7) {
  background-color: #e9ffa5;
 }

 .box:nth-child(8) {
  background-color: #e4ff8d;
 }

 .box:nth-child(9) {
  background-color: #d9e5ff;
 }

 .box:nth-child(10) {
  background-color: #bad3ff;
 }

 .box:nth-child(11) {
  background-color: #a4c6ff;
 }

 .box:nth-child(12) {
  background-color: #8eb8ff;
 }

 footer {
  text-align: center;
  line-height: 120px;
  height: 120px;
  background-color: gray;
 }

 .footer-text {
  color: #fff;
 }